<section id="welcome">
    <div class="welcome-container">
        <div class="welcome-image">
            <img src="assets/template/about/welcome_photo.svg" class="welcome-img" alt="svg welcome">
        </div>
        <div class="welcome-text">
            <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
            <h1 class="animated animated-text">
                <span class="big-text">Hi everyone, I'm</span>
                    <div class="animated-info">
                        <span class="animated-item">Le Cong Ly (Kong)</span>
                        <span class="animated-item">Internet of Thing</span>
                        <span class="animated-item">Embedded Engineer</span>
                    </div>
            </h1>
            <p>Building a successful product is a challenge. I am highly energetic in Autosar, Base Software design, and IOT project development.</p>
            <div class="custom-btn-group">
                <a href="#" class="custom-btn"><i class='uil uil-file-alt'></i> Download Resume</a>
                <a href="#contact" class="custom-btn custom-btn-bg">Get a free quote</a>
            </div>
        </div>
    </div>
</section>
